<!DOCTYPE html>
<html>
<head>
    <link href='css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='css/styles.css' rel='stylesheet' type='text/css'>
    <title>Address Book</title>
</head>
<body>
    <div class='container'>
        <h3>New Contact:</h3>
        <ul>
            <li>
                <h4>
                    {{ edit_contact.getName }}
                    {% if edit_contact.getStreetAddress is not empty %}
                        <br>{{ edit_contact.getStreetAddress }}
                    {% endif %}
                    {% if edit_contact.getCityStateZip is not empty %}
                        <br>{{ edit_contact.getCityStateZip }}
                    {% endif %}
                    {% if edit_contact.getPhone is not empty %}
                        <br>{{ edit_contact.getPhone }}
                    {% endif %}
                </h4>
            </li>
        </ul>

        <a href='/'>Return to All Contacts</a>
    </div> <!-- End Container -->
</body>
</html>
