<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <title>Address Book</title>
</head>
<body>
    <div class="container">
        <h3>Address book cleared!</h3>

        <a href="/">Return to home page</a>
    </div> <!-- End Container -->
</body>
</html>
